@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 14px;
}

ul {
  list-style: none;
}

.links {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  background-color: #eeeeee;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

button {
  padding: 8px 10px;
}
