/* Add CSS Styling */

.odd {
  background-color: pink;
  font-family:
    Verdana,
    DejaVu Sans,
    sans-serif;
}

#second {
  color: blue;
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  font-size: 36px;
  font-weight: bold;
  background-color: lightgreen;
}
