body {
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 52px;
}

.component {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.text {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}
